process {
    withName: get_transcriptome {
        publishDir = [
            [
                path: { "${params.out_dir}" },
                mode: 'copy',
                pattern: "*transcriptome.fas",
                overwrite: true,
            ]
        ]
    }
    withName: preprocess_reads {
        publishDir = [
            [
                path: { "${params.out_dir}" },
                mode: 'copy',
                pattern: "*_pychopper_output",
                overwrite: true,
            ]
        ]
    }
    withName: map_reads {
        publishDir = [
            [
                path: { "${params.out_dir}" },
                mode: 'copy',
                pattern: "*_read_aln_stats.tsv",
                overwrite: true,
            ],
            [
                path: { "${params.out_dir}/BAMS" },
                mode: 'copy',
                pattern: "*_reads_aln_sorted.bam*",
                overwrite: true,
            ],
        ]
    }
    withName: collectFastqIngressResultsInDir {
        stageInMode = "copy"
        publishDir = [
            [
                path: { "${params.out_dir}" },
                mode: 'copy',
                overwrite: true,
                saveAs: { "fastq_ingress_results/${meta.alias}" },
            ]
        ]
    }
    withName: validate_sample_sheet {
        stageInMode = "copy"
        publishDir = [
            [
                path: { "${params.out_dir}" },
                mode: 'copy',
                overwrite: true,
            ]
        ]
    }
    withName: deAnalysis {
        publishDir = [
            [
                path: { "${params.out_dir}" },
                mode: 'copy',
                pattern: "de_analysis/*",
                overwrite: true,
            ],
            [
                path: { "${params.out_dir}" },
                mode: 'copy',
                pattern: "merged/all_gene_counts.tsv",
                saveAs: { "de_analysis/all_gene_counts.tsv" },
                overwrite: true,
            ],
            [
                path: { "${params.out_dir}" },
                mode: 'copy',
                pattern: "merged/filtered_transcript_counts_with_genes.tsv",
                saveAs: { "de_analysis/filtered_transcript_counts_with_genes.tsv" },
                overwrite: true,
            ],
        ]
    }
    withName: mergeTPM {
        publishDir = [
            [
                path: { "${params.out_dir}/de_analysis" },
                mode: 'copy',
                overwrite: true,
            ]
        ]
    }
    withName: merge_transcriptomes {
        publishDir = [
            [
                path: { "${params.out_dir}/de_analysis" },
                mode: 'copy',
                pattern: "*.fasta",
                overwrite: true,
            ]
        ]
    }
}
