process {
    withName: get_transcriptome {
        publishDir = [
            [
                path: { "${params.out_dir}" },
                mode: 'copy',
                pattern: "*transcriptome.fas",
                overwrite: true,
            ]
        ]
    }
    withName: preprocess_reads {
        publishDir = [
            [
                path: { "${params.out_dir}" },
                mode: 'copy',
                pattern: "*_pychopper_output",
                overwrite: true,
            ]
        ]
    }
    withName: map_reads {
        publishDir = [
            [
                path: { "${params.out_dir}" },
                mode: 'copy',
                pattern: "*_read_aln_stats.tsv",
                overwrite: true,
            ],
            [
                path: { "${params.out_dir}/BAMS" },
                mode: 'copy',
                pattern: "*_reads_aln_sorted.bam*",
                overwrite: true,
            ],
        ]
    }
    withName: collectFastqIngressResultsInDir {
        publishDir = [
            [
                path: { "${params.out_dir}" },
                mode: 'copy',
                overwrite: true,
                saveAs: { "fastq_ingress_results/${meta.alias}" },
            ]
        ]
    }
}
