process {
    withName: run_gffcompare {
        publishDir = [
            [
                path: "${params.out_dir}",
                mode: 'copy',
                pattern: { "${sample_id}" },
                overwrite: true,
                saveAs: { "${sample_id}_gffcompare" },
            ],
            [
                path: "${params.out_dir}",
                mode: 'copy',
                pattern: '_transcripts_table.tsv',
                overwrite: true,
            ],
        ]
    }
    withName: get_transcriptome {
        publishDir = [
            [
                path: "${params.out_dir}",
                mode: 'copy',
                pattern: "*transcriptome.fas",
                overwrite: true,
            ]
        ]
    }
    withName: preprocess_reads {
        publishDir = [
            [
                path: "${params.out_dir}",
                mode: 'copy',
                pattern: { "${meta.alias}_pychopper_output/" },
                overwrite: true,
            ]
        ]
    }
    withName: map_reads {
        publishDir = [
            [
                path: "${params.out_dir}",
                mode: 'copy',
                pattern: "*_read_aln_stats.tsv",
                overwrite: true,
            ]
        ]
    }
    withName: collectFastqIngressResultsInDir {
        publishDir = [
            [
                path: "${params.out_dir}",
                mode: 'copy',
                overwrite: true,
                saveAs: "fastq_ingress_results/",
            ]
        ]
    }
}
